In [8]:
print("Hello World")
print('Hello World')
print('"Hello World"')

Hello World
Hello World
"Hello World"

In [9]:
a = 10
b = 20
c = 30
print(a,b,c)

10 20 30

In [10]:
pi = 3.141592
a = 1 
print(type(a))
print(pi + a)
a = 3.14
print(type(a))

<class 'int'>
4.141592
<class 'float'>

In [11]:
TAX_RATE = 0.35
PI = 3.141592
MAX_SIZE = 100

In [12]:
tax = 1000 * TAX_RATE
income = 1000 - tax
print("현재의 세율은 {0} %입니다.".format(TAX_RATE * 100))

현재의 세율은 35.0 %입니다.

In [13]:
width = 10
height = 20
area = width * height
print(area)

200

In [17]:
print(1 + 2 * 3)

7

In [26]:
print(max (10, 50))

50

In [28]:
import math

In [44]:
num1, num2 = map(int,(input("number 2 input ").split()))
print(num1 + num2)

7

In [ ]:
price = 10000
print("상품의 가격은 %s원입니다." %price)

상품의 가격은 10000원입니다.

In [61]:
message = "현재 시간은 %d시 %d분입니다."
hout = 12
mini = 30
print(message %(hout,mini))

현재 시간은 12시 30분입니다.

In [70]:
year, month, day = input("년,월,일을(를) 입력해주세요").split()

message = "오늘은 %s년%s월 %s일 입니다."
print(message %(year, month, day))

오늘은 2024년5월 13일 입니다.

In [80]:
num1, num2 = map(int,input("정수 두개를 입력해주세요").split())
print("정수의 합: {0} 차: {1} 곱: {2} 평균: {3} 큰수: {4} 작은수: {5}".format(num1+num2, num1-num2, num1 * num2, (num1 + num2)/2,max(num1, num2),min(num1, num2)))

정수의 합: 30 차: -10 곱: 200 평균: 15.0 큰수: 20 작은수: 10